.header {
  background-color: #a3d165;
  padding: 20px;
  margin: 0;
  display: flex;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
}

.home {
  width: 60%;
  font-size: 30px;
  text-align: left;
}

.nav-item {
  width: 20%;
  padding-top: 15px;
  text-align: right;
}
